<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" shutdownHook="disable">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss} %level]: [%c{1}] %msg%n%xEx{full}" />
        </Console>
        <RollingRandomAccessFile name="File" fileName="logs/latest.log" filePattern="logs/%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level]: [%c{1}] %msg{strip}%n%xEx{full}" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <OnStartupTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="100" />
        </RollingRandomAccessFile>
        <Async name="Async">
            <AppenderRef ref="rewrite"/>
        </Async>
        <Rewrite name="rewrite">
            <AppenderRef ref="File"/>
            <AppenderRef ref="Console" level="info"/>
        </Rewrite>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Async"/>
        </Root>
    </Loggers>
</Configuration>
